;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue May  4 20:21:34 2010
;; Desktop file format version 206
;; Emacs version 22.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/Makefile"
  "Makefile"
  'makefile-gmake-mode
  nil
  1450
  '(1454 t)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/source/timer.cpp"
  "timer.cpp"
  'c++-mode
  '(abbrev-mode)
  1192
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/source/main.cpp"
  "main.cpp"
  'c++-mode
  '(abbrev-mode)
  1406
  '(1201 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/source/gameengine.cpp"
  "gameengine.cpp"
  'c++-mode
  '(abbrev-mode)
  556
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/source/text.cpp"
  "text.cpp"
  'c++-mode
  '(abbrev-mode)
  1939
  '(2454 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/include/text.h"
  "text.h"
  'c-mode
  '(abbrev-mode)
  1872
  '(2024 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/special/devkitpro/crcproj/include/timer.h"
  "timer.h"
  'c-mode
  '(abbrev-mode)
  156
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

